<%- include('../port/layout-start', { title: title, user: user, count: count }) %>

<!-- форма с полями для регистрации -->
<form method="POST" action="/view/user/signup" class="col s12">

  <%- include('./user-fields-start') %>

  <div class="card-content">

    <span class="card-title"><%= title %></span>
    <br>

    <!-- место для возможных ошибок -->
    <% if (message) { %>
    <div class="row center red-text"><%= message %></div>
    <% } %>

    <%- include('./user-field-username', { value: defaults.username, disabled: '' }) %>
    <%- include('./user-field-fullname', { value: defaults.fullname, disabled: '' }) %>
    <%- include('./user-field-email', { value: defaults.email, disabled: '' }) %>
    <%- include('./user-field-password', { value: defaults.password, disabled: '' }) %>
    <%- include('./user-field-password-confirm', { value: defaults.password_confirm, disabled: '' }) %>

  </div>

  <div class="card-action">
    <button class="btn grey lighten-5 teal-text btn-flat" type="submit">
      Зарегестрироваться
    </button>
  </div>

  <%- include('./user-fields-end') %>

</form>

<%- include('../port/layout-end', { toast: toast }) %>