<%- include('../port/layout-start', { title, user, count }) %>

<%- include('./user-fields-start') %>

<div class="card-content">

  <span class="card-title"><%= title %></span>
  <br>

  <%- include('./user-field-username', { value: profile.username, disabled: 'disabled' }) %>
  <%- include('./user-field-fullname', { value: profile.fullname, disabled: 'disabled' }) %>
  <%- include('./user-field-email', { value: profile.email, disabled: 'disabled' }) %>
  <%- include('./user-field-created', { value: new Date(profile.created).toLocaleString(), disabled: 'disabled' }) %>

</div>

<% if (user.username === profile.username) { %>
<div class="card-action">
  <a href="/view/user/logout" class="red-text">Выйти</a>
</div>
<% } %>

<%- include('./user-fields-end') %>

<%- include('../port/layout-end', { toast, commentsParent: '' }) %>